<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:catalina.home}/logs/lo4j2</property>
        <property name="FILE_NAME">log</property>
        <property name="ERROR_NAME">error</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <RollingFile name="running-log" fileName="${LOG_HOME}/runLogs/${FILE_NAME}-${date:yyyy-MM-dd}.log"
                     filePattern="${LOG_HOME}/runLogs/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz"
                     immediateFlush="true">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <RollingFile name="error-log" fileName="${LOG_HOME}/errorLogs/${ERROR_NAME}-${date:yyyy-MM-dd}.log"
                     filePattern="${LOG_HOME}/errorLogs/$${date:yyyy-MM}/${ERROR_NAME}-%d{yyyy-MM-dd}-%i.log.gz"
                     immediateFlush="true">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

    </Appenders>
    <Loggers>

        <!-- <Logger name="com.cssweb.test.app" level="trace" additivity="true">
            <AppenderRef ref="running-log" /> </Logger> -->

        <Root level="DEBUG">
            <!-- 这里是输入到文件，很重要-->
            <AppenderRef ref="running-log" />
            <!--            &lt;!&ndash; 这里是输入到控制台&ndash;&gt;
                        <AppenderRef ref="Console" />-->
            <!-- 错误日志 -->
            <AppenderRef ref="error-log"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>